.App {
  text-align: center;
}

.NavBar {
  width: 100%;
  font-family: 'Righteous', cursive;
}

.RankingTable {
  font-family: 'Righteous', cursive;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 600px;
}
